:root {
  --color-error: #ef6351;
  --color-dark-b: hsl(209, 23%, 22%);
  --color-very-dark-b: hsl(207, 26%, 17%);
  --color-light-text: hsl(200, 15%, 8%);
  --color-dark-g: hsl(0, 0%, 52%);
  --color-very-light-g: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}
